.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
  }
  
  .navContainer {
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logoImage {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.nav-links {
    display: flex;
    gap: 2rem;
    font-weight: bold;
}

.nav-links a, .nav-links:visited {
    color: #ccc;
    background-color: transparent;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.nav-links a:active {
    background-color: transparent;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 150px); 
    padding: 2rem;
    gap: 2rem;
}

.profileSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-right: 1px solid #eaeaea;
}

.graph {
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #1a1a1a;
    text-align: center;
}

.graphContainer {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem auto;
    cursor: pointer;
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recently {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

.avatarCircles {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin: 1.5rem 0;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    font-size: 0.9rem;
}

.footerIcon {
    position: relative;
    z-index: 2;
    background-color: transparent;
    align-items: center;
    justify-self: center;
    display: flex;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  
    .navLinks {
      gap: 1rem;
    }
}