/* Header and Navigation */
.header {
    padding: 1rem;
    border-bottom: 1px solid var(--background-color);
}

.nav {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #6C6C6C;
}


/* Main Content */
.main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* Welcome Section */
.welcome {
    margin-bottom: 3rem;
    color: #6C6C6C;
}

.welcome h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

/* Blog Posts */
.post-card {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0px solid #fff;
    border-radius: 8px;
    background: var(--primary-color);
    transition: transform 0.2s;
}

.post-card:hover {
    transform: translateY(-2px);
}

.post-card h2 {
    margin: 0 0 1rem 0;
    color: #fff;
}

.post-card footer {
    margin-top: 1rem;
    color: var(--secondary-color);
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
}